<?xml version="1.0" encoding="UTF-8"?>
<odoo>
	
	<template id="stock_available" inherit_id="website_sale_stock.website_sale_stock_product" priority="100">
        <xpath expr="//div[@class='availability_messages o_not_editable']" position="after">
            <a class="btn btn-link mt16" id="stock_available" href="#">
                <i class='fa fa-th-list' role="img"/>
                Consulta disponibilidad en tienda
            </a>
        </xpath>
    </template>

    <template id="product_price" inherit_id="website_sale.product_price">
        <xpath expr="//div[@class='product_price mt16']/h4" position="inside">
            <span> + iva</span>
        </xpath>
    </template>

    <template id="product" inherit_id="website_sale.products_item">
        <xpath expr="//h6[@class='o_wsale_products_item_title']" position="attributes">
            <attribute name="class">o_wsale_products_item_title ocult-text</attribute>
        </xpath>
        <xpath expr="//div[@class='product_price']" position="inside">
            <span> + iva</span>
        </xpath>
        <xpath expr="//a[@t-field='product.name']" position="replace">
            <a itemprop="name" t-att-href="product_href" t-att-content="product.name" t-field="product.display_name"/>
        </xpath>
    </template>

    <template id="products" inherit_id="website_sale.products">
        <xpath expr="//div[@id='products_grid']" position="attributes">
            <attribute name="style">max-width: 75%;</attribute>
        </xpath>
    </template>

    <template id="product_origin" inherit_id="website_sale.product">
        <xpath expr="//div[@id='product_details']/h1" position="attributes">
            <attribute name="class">block-with-text</attribute>
            <attribute name="t-field">product.display_name</attribute>
        </xpath>
    </template>

    <template id="pricelist_list" inherit_id="website_sale.pricelist_list">
        <xpath expr="//div" position="replace">
            <div/>
        </xpath>
    </template>

    <template id="cart_lines" inherit_id="website_sale.cart_lines">
        <xpath expr="//td[@name='price']" position="replace">
            <td class="text-center td-price" name="price">
                <t t-set="combination_info" t-value="line.product_id.product_tmpl_id._get_combination_info()"/>

                <t groups="account.group_show_line_subtotals_tax_excluded" t-if="combination_info.get('has_discounted_price')" name="order_line_discount">
                    <del t-attf-class="#{'text-danger mr8'}" style="white-space: nowrap;" t-esc="combination_info.get('list_price')" t-options="{'widget': 'monetary', 'display_currency': website_sale_order.currency_id}" />
                </t>
                <span t-esc="combination_info.get('price')" style="white-space: nowrap;" t-options="{'widget': 'monetary', 'display_currency': website_sale_order.currency_id}" groups="account.group_show_line_subtotals_tax_excluded" />
            </td>
        </xpath>
    </template>

    <template id="busqueda_pagina" inherit_id="website.template_header_default" name="Busqueda_pagina_multimoto">
        <xpath expr="//t[@t-call='portal.placeholder_user_sign_in']" position="replace"/>
        <xpath expr="//t[@t-call='portal.user_dropdown']" position="replace"/>
        <xpath expr="//nav[@class='navbar navbar-expand-lg navbar-light o_colored_level o_cc shadow-sm']" position="before">
            <section class="barra_busqueda">
                <div class="container">
                    <div class="row" style="align-content: center;">
                        <div data-snippet="s_share" class="s_share text-left" data-name="Share">
                            <h4 class="s_share_title d-none o_default_snippet_text">Compartir</h4>
                            <a href="/" target="_blank" class="s_share_facebook">
                                <i class="fa fa-facebook rounded-circle"/>
                            </a>
                            <a href="/" target="_blank" class="s_share_instagram">
                                <i class="fa fa-instagram rounded-circle"/>
                            </a>
                            <a href="/" target="blank" class="s_share_whatsapp">
                                <i class="fa fa-whatsapp rounded-circle"/>
                            </a>
                        </div>
                        <div class="s_allow_columns container parte_superior">
                            <form method="get" data-snippet="s_products_searchbar_input" class="o_wsale_products_searchbar_form o_wait_lazy_js s_wsale_products_searchbar_input" action="/shop" data-name="Products Search">
                                <div role="search" class="input-group">
                                    <input type="search" name="search" class="search-query form-control oe_search_box" data-limit="5" data-display-description="true" data-display-price="true" data-display-image="true" placeholder="Buscar…"/>
                                    <div class="input-group-append">
                                    <button type="submit" class="btn_cust btn btn-primary oe_search_button" aria-label="Búsqueda" title="Búsqueda">
                                        <i class="fa fa-search"/>
                                    </button>
                                    </div>
                                </div>
                                <input name="order" type="hidden" class="o_wsale_search_order_by" value=""/>
                            </form>
                        </div>
                        <div class="row">
                            <ul t-attf-class="nav navbar-nav o_menu_loading flex-grow-1">
                                <t t-call="portal.placeholder_user_sign_in">
                                    <t t-set="_item_class" t-value="'nav-item new-session'"/>
                                    <t t-set="_link_class" t-value="'nav-link'"/>
                                </t>
                                <t t-call="portal.user_dropdown">
                                    <t t-set="_user_name" t-value="true"/>
                                    <t t-set="_item_class" t-value="'nav-item dropdown new-session'"/>
                                    <t t-set="_link_class" t-value="'nav-link'"/>
                                    <t t-set="_dropdown_menu_class" t-value="'dropdown-menu-right'"/>
                                </t>
<!--                                <t t-call="website_sale.header_cart_link">-->
<!--                                    <t t-set="_icon" t-value="True"/>-->
<!--                                    <t t-set="_item_class" t-value="'nav-item mx-lg-3'"/>-->
<!--                                    <t t-set="_link_class" t-value="'nav-link'"/>-->
<!--                                </t>-->
                            </ul>
<!--                            <t t-set="website_sale_order" t-value="website.sale_get_order()" />-->
<!--                            <a href="/shop/cart" class="o_wsale_my_cart">-->
<!--                                <i class="fa fa-opencart btn btn-primary faOpCart">-->
<!--                                    <sup class="my_cart_quantity badge badge-primary" t-esc="website_sale_order and website_sale_order.cart_quantity or '0'" t-att-data-order-id="website_sale_order and website_sale_order.id or ''"/>-->
<!--                                </i>-->
<!--                                <span t-if="_text">My Cart</span>-->
<!--                            </a>-->
                        </div>
                    </div>
                </div>
            </section>
		</xpath>
    </template>

</odoo>
