ul li a.active,
ul li a.active *{
    background: rgb(200,20,50);
    color: white;
}

div.input-group-append button.btn{
    background: rgb(200, 20, 50);
    border: none;
    border-radius: 12px;
    padding: 8px;
}

.barra_busqueda{
    background: rgb(28, 62, 145);
    padding-top: 15px;
    padding-bottom: 15px;
}

.faOpCart{
    background: rgb(28,62,145);
    padding-top: 15px;
}
